body {
 /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #393939;
  margin: 0px;
  margin-bottom: 80px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container {
    display: flex;
    flex-direction: column;
}

.flex-col{
    display: flex;
    direction: column;
    justify-content: center;
}

.flex-row {
    display:flex;
}

#main-page-container {
    display: flex;
    flex-direction: column;
}

#bottombarsticky {
    position: fixed;
    display: flex;
    flex-shrink:0;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    width: 100vw;
    background-color: #eeeeee;
    -webkit-box-shadow: 0 4px 2px -2px black;
    -moz-box-shadow: 0 4px 2px -2px black;
    box-shadow: 0 4px 2px -2px black;
    z-index: 98;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

#bottombarsticky h1 {
    font-size: 30px;
}

#connectionstate {
    display: flex;
    flex-shrink:0;
    flex-direction: row;
    order: 1;
    align-items: center;
}

#experiment-content-area {
    display: flex;
    padding: 25px;
    border: 2px solid black;
    margin: 25px;
    justify-content: center;
}

.main-button {
  background-color: #4CAF50; /* Green */
  border: 1px solid black;
  color: white;
  padding: 10px 25px;
  margin: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
}

.main-button:disabled {
  cursor: default;
  background-color: #555555; /* Green */
  color: grey;
}

.main-button:enabled:hover {
  background-color: #8FCF72; /* Green */
  cursor: pointer;
}

.main-title-bar {
    display: flex;
    font-size: 32px;
    align-content: center;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: center;
}

.buttons-row {
    display: flex;
    justify-content: center;
}

.main-title-bar h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.main-title-bar img {
    width: 5vw;
    height: 100%;
}

/*.live-chart-container {
    width: 25vw;
    height: 100%;
}
*/

.live-chart-container {
    width: 1200px;
    height: 600px;
}

.game-wrapper {
    width: 100%;
    height: 100%;
}

#main-game {
    background-color: black;
    width: 100%;
    height: 100%;
}






